.shop__img {
    width: 300px;
}

.user__name {
    text-align: center;
}

.mypage__content {
    display: flex;
    justify-content: space-around; /* 追加 */
    width: 100%;
}

.shop__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px; /* 縦横10pxの隙間 */
}

.shop__content {
    width: calc(25% - 10px); /* 25% - 左右の隙間(10px * 2) */
    padding: 10px;
    box-sizing: border-box; /* paddingをwidthに含める */
}

.shop__img {
    width: 100%;
}

.shop__buttons {
    display: flex;
    justify-content: space-between;
}

.reservation__container {
    width: 40%;
}

.reservation__container h2 {
    text-align: center;
}

.reservations__wrap {
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    flex-wrap: wrap; /* 複数行に折り返す */
    gap: 20px;
}

.reservation__contents {
    width: 80%;
    background: rgb(14, 101, 177);
    padding: 10px;
    color: white;
}
.reservation__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reservation__heder h2 {
    text-align: center;
}

.reservation__heder h3,
.reservation__heder form {
    width: 45%;
}

.favorites__container {
    width: 60%;
}

.favorites__container h2 {
    text-align: center;
}

.favorites__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px; /* 縦横10pxの隙間 */
}

.shop__content {
    width: calc(50% - 10px); /* 25% - 左右の隙間(10px * 2) */
    padding: 10px;
    box-sizing: border-box; /* paddingをwidthに含める */
}
