.shop__img{
    width: 300px;
}

.mypage__content{
    display: flex;
    justify-content: space-around; /* 追加 */
    width: 100%;

}

.reservations__wrap{
    width: 40%;
}

.reservation__heder{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reservation__heder h3,
.reservation__heder form {
    width:45%;
}

.favorites__wrap{
    width: 40%;
}